* {
    border: 0%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #DCF5FF;
}

.b_canva {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 25%;
}